<center>
<h1>Welcome to the Lab ðŸ¥¼ðŸ§ª</h1>
</center>

### We will learn how to bulk pull metrics and load as csv files or sql tables for thousands of markets across the country. 

#### Need help getting started?

As a reminder, you can get your Parcl Labs API key [here](https://dashboard.parcllabs.com/signup) to follow along.

To run this immediately, you can use Google Colab. Remember, you must set your `PARCL_LABS_API_KEY`.

You will need a paid account. 

Run in collab --> [![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ParclLabs/parcllabs-cookbook/blob/main/examples/getting_started/bulk_data_download.ipynb)

### Initial Setup

In [ ]:
# if needed, install and/or upgrade to the latest verison of the Parcl Labs Python library
%pip install --upgrade parcllabs

In [ ]:
import os
import pandas as pd
from parcllabs import ParclLabsClient

client = ParclLabsClient(
    api_key=os.environ.get('PARCL_LABS_API_KEY', "<your Parcl Labs API key if not set as environment variable>"), 
    limit=12 # set default limit
)

### Define Market Criteria

In [ ]:
# get all metros's
# in this case, lets look at US market overall
metros = client.search.markets.retrieve(
    sort_by='TOTAL_POPULATION',
    sort_order='DESC',
    location_type='CBSA',
    limit=1000,
    auto_paginate=True
)

In [ ]:
# get top 1000 most populous zipcodes
zipcodes = client.search.markets.retrieve(
    location_type='ZIP5',
    limit=1000,
    sort_by='TOTAL_POPULATION',
    # auto_paginate=True # if you want to get all zipcodes, set this to true
)

In [ ]:
# prepare one metadata table for metros and zipcodes
# this will allow you to do cross sectional analysis on income, population, etc. 
market_metadata = pd.concat([metros, zipcodes])

In [29]:
market_metadata.head()

,parcl_id,country,geoid,state_fips_code,name,state_abbreviation,region,location_type,total_population,median_income,parcl_exchange_market,pricefeed_market,case_shiller_10_market,case_shiller_20_market
0,2900187,USA,35620,None,"New York-Newark-Jersey City, Ny-Nj-Pa",None,None,CBSA,19908595,93610,0,1,1,1
1,2900078,USA,31080,None,"Los Angeles-Long Beach-Anaheim, Ca",None,None,CBSA,13111917,89105,0,1,1,1
2,2899845,USA,16980,None,"Chicago-Naperville-Elgin, Il-In-Wi",None,None,CBSA,9566955,85087,0,1,1,1
3,2899734,USA,19100,None,"Dallas-Fort Worth-Arlington, Tx",None,None,CBSA,7673379,83398,0,1,0,1
4,2899967,USA,26420,None,"Houston-The Woodlands-Sugar Land, Tx",None,None,CBSA,7142603,78061,0,1,0,0

In [ ]:
# join zips and metros together to do one pull of all listings
parcl_market_ids = metros['parcl_id'].tolist() + zipcodes['parcl_id'].tolist()
len(parcl_market_ids) # traversing 1000 most populous zip codes, and 927 metros/micro markets nationwide

### Pull Down Data

We are going to keep a tight scope, all active inventory and inventory with changing prices

In [ ]:
# set the analysis start date
START_DATE = '2023-01-01'

In [ ]:
# get for sale listings -- weekly metric
active_listings = client.for_sale_market_metrics.for_sale_inventory.retrieve(
    parcl_ids=parcl_market_ids,
    property_type='ALL_PROPERTIES', # can swap this with SINGLE_FAMILY, CONDO or TOWNHOUSE
    start_date=START_DATE # once you load into an internal system, will use this to do an incremental pull
)

In [ ]:
# get for sale listings -- weekly metric
sfh_active_listings = client.for_sale_market_metrics.for_sale_inventory.retrieve(
    parcl_ids=parcl_market_ids,
    property_type='SINGLE_FAMILY', 
    start_date=START_DATE # once you load into an internal system, will use this to do an incremental pull
)

In [ ]:
# get for sale listings -- weekly metric
condo_active_listings = client.for_sale_market_metrics.for_sale_inventory.retrieve(
    parcl_ids=parcl_market_ids,
    property_type='CONDO', # townhouse is another option, would follow the same pattern
    start_date=START_DATE # once you load into an internal system, will use this to do an incremental pull
)

In [ ]:
# we now have weekly active listings for all metros and zipcodes in one file. 
# would recommend loading this directly as an augmentation table to your internal system and keeping the market metadata separate. 
active_listings_by_type = pd.concat([active_listings, sfh_active_listings, condo_active_listings])

In [30]:
# now we have one datafile with all active listings, all single family home active listings, and all condo active listings
# for every week dating back to 1/1/2023. 
active_listings_by_type.head()

        date  for_sale_inventory parcl_id   property_type
0 2024-07-15               28552  2900187  ALL_PROPERTIES
1 2024-07-08               27942  2900187  ALL_PROPERTIES
2 2024-07-01               29090  2900187  ALL_PROPERTIES
3 2024-06-24               29247  2900187  ALL_PROPERTIES
4 2024-06-17               29493  2900187  ALL_PROPERTIES

In [ ]:
# let's enrich this with price changes to act as a leading indicator for distressed seller signals
price_changes = client.for_sale_market_metrics.for_sale_inventory_price_changes.retrieve(
    parcl_ids=parcl_market_ids,
    property_type='ALL_PROPERTIES', # can swap this with SINGLE_FAMILY, CONDO or TOWNHOUSE
    start_date=START_DATE # once you load into an internal system, will use this to do an incremental pull
)

In [ ]:
sfh_price_changes = client.for_sale_market_metrics.for_sale_inventory_price_changes.retrieve(
    parcl_ids=parcl_market_ids,
    property_type='SINGLE_FAMILY', # can swap this with SINGLE_FAMILY, CONDO or TOWNHOUSE
    start_date=START_DATE # once you load into an internal system, will use this to do an incremental pull
)

In [ ]:
condo_price_changes = client.for_sale_market_metrics.for_sale_inventory_price_changes.retrieve(
    parcl_ids=parcl_market_ids,
    property_type='CONDO', # can swap this with SINGLE_FAMILY, CONDO or TOWNHOUSE
    start_date=START_DATE # once you load into an internal system, will use this to do an incremental pull
)

In [31]:
all_price_changes = pd.concat([price_changes, sfh_price_changes, condo_price_changes])
all_price_changes.head()

,date,count_price_change,count_price_drop,median_days_bt_change,median_price_change,median_pct_price_change,pct_inventory_price_change,parcl_id,property_type
0,2024-07-15,6640,6119,29.0,-24000,-3.33,23.26,2900187,ALL_PROPERTIES
1,2024-07-08,6375,5847,29.0,-24000,-3.23,22.82,2900187,ALL_PROPERTIES
2,2024-07-01,6499,5959,30.0,-23000,-3.23,22.34,2900187,ALL_PROPERTIES
3,2024-06-24,6467,5939,30.0,-21000,-3.16,22.11,2900187,ALL_PROPERTIES
4,2024-06-17,6385,5821,32.0,-21000,-3.13,21.65,2900187,ALL_PROPERTIES

### Prepare data export

In [ ]:
# we now have three files, one is market metadata, one on inventory for all actives, single family actives, and condos, and another on seller behavior via price changes, days between price changes, etc. We will store these as three separate files, which can all be efficiently joined via the parcl_id index. 

# to save as flat files, uncomment:
# market_metadata.to_csv('market_metadata.csv', index=False)
# active_listings_by_type.to_csv('active_listings.csv', index=False)
# all_price_changes.to_csv('price_changes.csv', index=False)

In [ ]:
# to save straight to a database, uncomment and modify the connection string:
# import sqlalchemy
# engine = sqlalchemy.create_engine('postgresql://user:password@localhost:5432/database')
# market_metadata.to_sql('market_metadata', engine, if_exists='replace', index=False)
# active_listings_by_type.to_sql('active_listings', engine, if_exists='replace', index=False)
# all_price_changes.to_sql('price_changes', engine, if_exists='replace', index=False)