### True Ownership Portoflio Analysis

In [2]:
# if needed, install and/or upgrade to the latest verison of the Parcl Labs Python library
%pip install --upgrade parcllabs nbformat

Looking in indexes: https://pypi.org/simple, https://aws:****@parcl-labs-394841240607.d.codeartifact.us-east-1.amazonaws.com/pypi/python/simple/
Requirement already satisfied: parcllabs in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (1.2.1)
WARNING: 401 Error, Credentials not correct for https://parcl-labs-394841240607.d.codeartifact.us-east-1.amazonaws.com/pypi/python/simple/parcllabs/
Collecting parcllabs
  Downloading parcllabs-1.6.3-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: nbformat in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (5.10.4)
WARNING: 401 Error, Credentials not correct for https://parcl-labs-394841240607.d.codeartifact.us-east-1.amazonaws.com/pypi/python/simple/nbformat/
Requirement already satisfied: aiohttp in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (3.9.5)
Requirement already satisfied: alive-progress in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (3.1.5)
Requirement already satisfied: kaleido in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (0.2.1)
Requirement already satisfied: nest-asyncio in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (1.6.0)
Requirement already satisfied: numpy in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (2.0.0)
Requirement already satisfied: pandas in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (2.2.2)
Requirement already satisfied: plotly in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (5.22.0)
Requirement already satisfied: requests in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from parcllabs) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from nbformat) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from nbformat) (4.22.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from nbformat) (5.5.0)
Requirement already satisfied: traitlets>=5.1 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.18.1)
Requirement already satisfied: platformdirs>=2.5 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.2)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from aiohttp->parcllabs) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from aiohttp->parcllabs) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from aiohttp->parcllabs) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from aiohttp->parcllabs) (1.9.4)
Requirement already satisfied: about-time==4.2.1 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from alive-progress->parcllabs) (4.2.1)
Requirement already satisfied: grapheme==0.6.0 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from alive-progress->parcllabs) (0.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from pandas->parcllabs) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from pandas->parcllabs) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from pandas->parcllabs) (2024.1)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from plotly->parcllabs) (8.4.1)
Requirement already satisfied: packaging in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from plotly->parcllabs) (24.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from requests->parcllabs) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from requests->parcllabs) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from requests->parcllabs) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from requests->parcllabs) (2024.6.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/parcllabs/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->parcllabs) (1.16.0)
Downloading parcllabs-1.6.3-py2.py3-none-any.whl (30 kB)
Installing collected packages: parcllabs
  Attempting uninstall: parcllabs
    Found existing installation: parcllabs 1.2.1
    Uninstalling parcllabs-1.2.1:
      Successfully uninstalled parcllabs-1.2.1
Successfully installed parcllabs-1.6.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
import pandas as pd
import plotly.express as px
from datetime import datetime
import plotly.graph_objects as go
from parcllabs import ParclLabsClient
from parcllabs.beta.charting.styling import SIZE_CONFIG
from parcllabs.beta.ts_stats import TimeSeriesAnalysis
from parcllabs.beta.charting.utils import create_labs_logo_dict
from parcllabs.beta.charting.default_charts import create_dual_axis_chart
from parcllabs.beta.charting.styling import default_style_config as style_config


client = ParclLabsClient(
    api_key=os.environ.get('PARCL_LABS_API_KEY', "<your Parcl Labs API key if not set as environment variable>"), 
    turbo_mode=True
)

In [50]:
operators = [
    'AMH',
    'TRICON',
    'INVITATION_HOMES',
    'HOME_PARTNERS_OF_AMERICA',
    'PROGRESS_RESIDENTIAL',
    'AMHERST',
    'FIRSTKEY_HOMES'
]


homes = []
for op in operators:
    tmp = client.property.search.retrieve(
        property_type='single_family',
        current_entity_owner_name=op,
        parcl_ids=[5826765]
    )
    print(f'{op}: {len(homes)}')
    homes.append(tmp)

homes = pd.concat(homes)

Processing Parcl IDs |████████████████████████████████████████| 1/1 [100%] in 9.6s (0.10/s)
AMH: 0
Processing Parcl IDs |████████████████████████████████████████| 1/1 [100%] in 6.5s (0.15/s)
TRICON: 1
Processing Parcl IDs |████████████████████████████████████████| 1/1 [100%] in 13.4s (0.07/s)
INVITATION_HOMES: 2
Processing Parcl IDs |████████████████████████████████████████| 1/1 [100%] in 4.2s (0.24/s)
HOME_PARTNERS_OF_AMERICA: 3
Processing Parcl IDs |████████████████████████████████████████| 1/1 [100%] in 13.8s (0.07/s)
PROGRESS_RESIDENTIAL: 4
Processing Parcl IDs |████████████████████████████████████████| 1/1 [100%] in 7.4s (0.13/s)
AMHERST: 5
Processing Parcl IDs |████████████████████████████████████████| 1/1 [100%] in 24.8s (0.04/s)
FIRSTKEY_HOMES: 6

In [51]:
ids = homes['parcl_property_id'].tolist()

events = client.property.events.retrieve(
    parcl_property_ids=ids
)

|████████████████████████████████████████| 354822/354822 [100%] in 1:55.5 (3070.99/s)

In [52]:
# get the most recent event

recent_sale_index = events.groupby('parcl_property_id')['sale_index'].max().reset_index()
cur_events = events.merge(recent_sale_index, on=['parcl_property_id', 'sale_index'])
cur_events.shape

(2426373, 10)

In [53]:
# on market listings
on_market = cur_events.loc[(cur_events['event_date']>= datetime(2024, 7, 1)) & (cur_events['event_type']=='LISTING')]
on_market.head()

,parcl_property_id,event_date,event_type,event_name,price,owner_occupied_flag,new_construction_flag,sale_index,investor_flag,entity_owner_name
21,157629061,2024-08-28,LISTING,LISTED_SALE,214900.0,0.0,0,2,1.0,AMH
2525,119691870,2024-08-22,LISTING,PRICE_CHANGE,399900.0,0.0,0,5,1.0,AMH
2526,119691870,2024-07-17,LISTING,PRICE_CHANGE,409900.0,0.0,0,5,1.0,AMH
3103,95327709,2024-08-28,LISTING,RELISTED,415000.0,0.0,0,3,1.0,AMH
3105,95327709,2024-08-24,LISTING,LISTED_SALE,415000.0,0.0,0,3,1.0,AMH

In [54]:
# find the first listing price based on event_date by parcl_property_id
first_listing = on_market.groupby('parcl_property_id')['event_date'].min().reset_index()
first_listing = on_market.merge(first_listing, on=['parcl_property_id', 'event_date'])
first_listing = first_listing[['parcl_property_id', 'event_date', 'price']].sort_values(['parcl_property_id', 'event_date']).drop_duplicates(subset='parcl_property_id', keep='first')
first_listing

      parcl_property_id event_date      price
3149           48743427 2024-09-05   515000.0
3095           48749597 2024-07-25   299900.0
2249           48771578 2024-07-10   419900.0
902            48808774 2024-08-23   450000.0
378            48814702 2024-08-07        NaN
...                 ...        ...        ...
1894          460148952 2024-08-29   165000.0
2236          460151045 2024-08-30  1050000.0
771           460225104 2024-08-31   324900.0
1893          460263128 2024-09-01   219900.0
2198          460412978 2024-09-05   349900.0

[3513 rows x 3 columns]

In [55]:
last_listing = on_market.groupby('parcl_property_id')['event_date'].max().reset_index()
last_listing = on_market.merge(last_listing, on=['parcl_property_id', 'event_date'])
last_listing = last_listing[['parcl_property_id', 'event_date', 'price']].sort_values(['parcl_property_id', 'event_date'], ascending=False).drop_duplicates(subset='parcl_property_id', keep='last')
last_listing = last_listing.rename(columns={'event_date': 'last_listing_date', 'price': 'last_listing_price'})
out = first_listing.merge(last_listing, on='parcl_property_id')
out

,parcl_property_id,event_date,price,last_listing_date,last_listing_price
0,48743427,2024-09-05,515000.0,2024-09-05,515000.0
1,48749597,2024-07-25,299900.0,2024-07-25,299900.0
2,48771578,2024-07-10,419900.0,2024-08-16,399900.0
3,48808774,2024-08-23,450000.0,2024-08-23,450000.0
4,48814702,2024-08-07,NaN,2024-08-09,354900.0
...,...,...,...,...,...
3508,460148952,2024-08-29,165000.0,2024-08-29,165000.0
3509,460151045,2024-08-30,1050000.0,2024-08-30,1050000.0
3510,460225104,2024-08-31,324900.0,2024-08-31,324900.0
3511,460263128,2024-09-01,219900.0,2024-09-01,219900.0
3512,460412978,2024-09-05,349900.0,2024-09-05,349900.0

In [56]:
out['has_price_change'] = out['price'] != out['last_listing_price']
out['has_price_change'] = out['has_price_change'].map({True: 1, False: 0})
out['pct_price_change'] = (out['last_listing_price']-out['price']) / out['price']

In [57]:
out = out.merge(homes[['parcl_property_id', 'cbsa_name', 'current_entity_owner_name']], on='parcl_property_id')
out

,parcl_property_id,event_date,price,last_listing_date,last_listing_price,has_price_change,pct_price_change,cbsa_name,current_entity_owner_name
0,48743427,2024-09-05,515000.0,2024-09-05,515000.0,0,0.00000,"Dallas-Fort Worth-Arlington, TX",AMHERST
1,48749597,2024-07-25,299900.0,2024-07-25,299900.0,0,0.00000,"Dallas-Fort Worth-Arlington, TX",AMHERST
2,48771578,2024-07-10,419900.0,2024-08-16,399900.0,1,-0.04763,"Phoenix-Mesa-Chandler, AZ",PROGRESS_RESIDENTIAL
3,48808774,2024-08-23,450000.0,2024-08-23,450000.0,0,0.00000,"Charlotte-Concord-Gastonia, NC-SC",INVITATION_HOMES
4,48814702,2024-08-07,NaN,2024-08-09,354900.0,1,NaN,"Phoenix-Mesa-Chandler, AZ",AMH
...,...,...,...,...,...,...,...,...,...
3508,460148952,2024-08-29,165000.0,2024-08-29,165000.0,0,0.00000,"Punta Gorda, FL",PROGRESS_RESIDENTIAL
3509,460151045,2024-08-30,1050000.0,2024-08-30,1050000.0,0,0.00000,"Riverside-San Bernardino-Ontario, CA",PROGRESS_RESIDENTIAL
3510,460225104,2024-08-31,324900.0,2024-08-31,324900.0,0,0.00000,"Columbus, OH",INVITATION_HOMES
3511,460263128,2024-09-01,219900.0,2024-09-01,219900.0,0,0.00000,"Paris, TN",PROGRESS_RESIDENTIAL
3512,460412978,2024-09-05,349900.0,2024-09-05,349900.0,0,0.00000,"Punta Gorda, FL",PROGRESS_RESIDENTIAL

In [58]:
# create aggregates for the average pct_price_change, the total number of price changes, and the total number of listings
agg = out.groupby(['current_entity_owner_name', 'cbsa_name']).agg(
    avg_pct_price_change=('pct_price_change', 'mean'),
    total_price_changes=('has_price_change', 'sum'),
    total_listings=('parcl_property_id', 'count')
).reset_index()
agg['pct_inventory_with_price_change'] = agg['total_price_changes'] / agg['total_listings']
agg.sort_values('total_listings', ascending=False)

,current_entity_owner_name,cbsa_name,avg_pct_price_change,total_price_changes,total_listings,pct_inventory_with_price_change
431,PROGRESS_RESIDENTIAL,"Atlanta-Sandy Springs-Alpharetta, GA",0.028278,65,131,0.496183
466,PROGRESS_RESIDENTIAL,"Houston-The Woodlands-Sugar Land, TX",-0.042366,77,130,0.592308
96,AMHERST,"Dallas-Fort Worth-Arlington, TX",-0.037361,69,101,0.683168
267,HOME_PARTNERS_OF_AMERICA,"Dallas-Fort Worth-Arlington, TX",-0.010462,43,89,0.483146
249,HOME_PARTNERS_OF_AMERICA,"Atlanta-Sandy Springs-Alpharetta, GA",-0.013215,32,84,0.380952
...,...,...,...,...,...,...
368,INVITATION_HOMES,"Kansas City, MO-KS",0.000000,0,1,0.000000
115,AMHERST,"Lafayette-West Lafayette, IN",-0.020842,1,1,1.000000
365,INVITATION_HOMES,"Hudson, NY",0.000000,0,1,0.000000
116,AMHERST,"Lake Havasu City-Kingman, AZ",0.000000,0,1,0.000000
0,AMH,"Abilene, TX",0.000000,0,1,0.000000

In [59]:
port_counts = homes.groupby(['current_entity_owner_name', 'cbsa_name'])['parcl_property_id'].nunique().reset_index(name='total_inventory')

In [60]:
# now get the top 3 markets by current_entity_owner_name based on total listings
topn_markets = agg.sort_values('total_listings', ascending=False).groupby('current_entity_owner_name').head(5)
topn_markets = topn_markets.merge(port_counts[['current_entity_owner_name', 'cbsa_name', 'total_inventory']], on=['current_entity_owner_name', 'cbsa_name'])
topn_markets

,current_entity_owner_name,cbsa_name,avg_pct_price_change,total_price_changes,total_listings,pct_inventory_with_price_change,total_inventory
0,PROGRESS_RESIDENTIAL,"Atlanta-Sandy Springs-Alpharetta, GA",0.028278,65,131,0.496183,11783
1,PROGRESS_RESIDENTIAL,"Houston-The Woodlands-Sugar Land, TX",-0.042366,77,130,0.592308,4367
2,AMHERST,"Dallas-Fort Worth-Arlington, TX",-0.037361,69,101,0.683168,2732
3,HOME_PARTNERS_OF_AMERICA,"Dallas-Fort Worth-Arlington, TX",-0.010462,43,89,0.483146,2037
4,HOME_PARTNERS_OF_AMERICA,"Atlanta-Sandy Springs-Alpharetta, GA",-0.013215,32,84,0.380952,3512
5,AMHERST,"Atlanta-Sandy Springs-Alpharetta, GA",-0.025004,41,80,0.512500,6754
6,AMH,"Dallas-Fort Worth-Arlington, TX",-0.019323,31,71,0.436620,3724
7,PROGRESS_RESIDENTIAL,"Dallas-Fort Worth-Arlington, TX",-0.036658,28,52,0.538462,6104
8,AMHERST,"Tampa-St. Petersburg-Clearwater, FL",-0.046981,35,48,0.729167,1599
9,AMH,"San Antonio-New Braunfels, TX",-0.033443,21,48,0.437500,964
10,HOME_PARTNERS_OF_AMERICA,"Tampa-St. Petersburg-Clearwater, FL",-0.012612,22,47,0.468085,1365
11,AMHERST,"Orlando-Kissimmee-Sanford, FL",-0.022957,27,45,0.600000,1816
12,PROGRESS_RESIDENTIAL,"Jacksonville, FL",-0.051769,27,43,0.627907,4745
13,PROGRESS_RESIDENTIAL,"Miami-Fort Lauderdale-Pompano Beach, FL",-0.041409,27,43,0.627907,1435
14,AMHERST,"Jacksonville, FL",-0.040123,26,36,0.722222,1349
15,HOME_PARTNERS_OF_AMERICA,"Phoenix-Mesa-Chandler, AZ",-0.004487,13,36,0.361111,792
16,INVITATION_HOMES,"Atlanta-Sandy Springs-Alpharetta, GA",-0.016758,7,35,0.200000,11093
17,HOME_PARTNERS_OF_AMERICA,"Minneapolis-St. Paul-Bloomington, MN-WI",-0.010224,11,32,0.343750,1436
18,AMH,"Houston-The Woodlands-Sugar Land, TX",0.011251,13,31,0.419355,2253
19,FIRSTKEY_HOMES,"Houston-The Woodlands-Sugar Land, TX",-0.028703,18,31,0.580645,3062
20,AMH,"Austin-Round Rock-Georgetown, TX",-0.036075,20,30,0.666667,604
21,AMH,"Phoenix-Mesa-Chandler, AZ",-0.010222,10,28,0.357143,2956
22,FIRSTKEY_HOMES,"Atlanta-Sandy Springs-Alpharetta, GA",-0.014047,13,26,0.500000,6025
23,FIRSTKEY_HOMES,"Dallas-Fort Worth-Arlington, TX",-0.016700,13,23,0.565217,2880
24,INVITATION_HOMES,"Dallas-Fort Worth-Arlington, TX",-0.014533,5,19,0.263158,2775
25,INVITATION_HOMES,"Los Angeles-Long Beach-Anaheim, CA",-0.013038,4,19,0.210526,2791
26,INVITATION_HOMES,"Miami-Fort Lauderdale-Pompano Beach, FL",-0.009762,6,18,0.333333,5658
27,FIRSTKEY_HOMES,"Tampa-St. Petersburg-Clearwater, FL",-0.014743,11,16,0.687500,1233
28,INVITATION_HOMES,"Riverside-San Bernardino-Ontario, CA",-0.005518,2,15,0.133333,3115
29,FIRSTKEY_HOMES,"San Antonio-New Braunfels, TX",-0.034282,8,12,0.666667,1050
30,TRICON,"Atlanta-Sandy Springs-Alpharetta, GA",-0.058265,5,9,0.555556,6906
31,TRICON,"Dallas-Fort Worth-Arlington, TX",-0.009828,2,9,0.222222,2885
32,TRICON,"Tampa-St. Petersburg-Clearwater, FL",-0.022046,2,6,0.333333,2277
33,TRICON,"Miami-Fort Lauderdale-Pompano Beach, FL",-0.021667,2,6,0.333333,24
34,TRICON,"Houston-The Woodlands-Sugar Land, TX",-0.030756,3,6,0.500000,2002

In [66]:
topn_markets.head()

,current_entity_owner_name,cbsa_name,avg_pct_price_change,total_price_changes,total_listings,pct_inventory_with_price_change,total_inventory,pct_inventory_on_market
0,PROGRESS_RESIDENTIAL,"Atlanta-Sandy Springs-Alpharetta, GA",0.028278,65,131,0.496183,11783,0.011118
1,PROGRESS_RESIDENTIAL,"Houston-The Woodlands-Sugar Land, TX",-0.042366,77,130,0.592308,4367,0.029769
2,AMHERST,"Dallas-Fort Worth-Arlington, TX",-0.037361,69,101,0.683168,2732,0.036969
3,HOME_PARTNERS_OF_AMERICA,"Dallas-Fort Worth-Arlington, TX",-0.010462,43,89,0.483146,2037,0.043692
4,HOME_PARTNERS_OF_AMERICA,"Atlanta-Sandy Springs-Alpharetta, GA",-0.013215,32,84,0.380952,3512,0.023918

In [67]:
topn_markets['pct_inventory_on_market'] = topn_markets['total_listings'] / topn_markets['total_inventory']
topn_markets_out = topn_markets.drop('total_inventory', axis=1)
topn_markets_out.to_csv('operator_for_sale_markets.csv', index=False)

In [62]:
topn_markets.loc[topn_markets['total_listings']>20].sort_values('avg_pct_price_change')

,current_entity_owner_name,cbsa_name,avg_pct_price_change,total_price_changes,total_listings,pct_inventory_with_price_change,total_inventory,pct_inventory_on_market
12,PROGRESS_RESIDENTIAL,"Jacksonville, FL",-0.051769,27,43,0.627907,4745,0.009062
8,AMHERST,"Tampa-St. Petersburg-Clearwater, FL",-0.046981,35,48,0.729167,1599,0.030019
1,PROGRESS_RESIDENTIAL,"Houston-The Woodlands-Sugar Land, TX",-0.042366,77,130,0.592308,4367,0.029769
13,PROGRESS_RESIDENTIAL,"Miami-Fort Lauderdale-Pompano Beach, FL",-0.041409,27,43,0.627907,1435,0.029965
14,AMHERST,"Jacksonville, FL",-0.040123,26,36,0.722222,1349,0.026686
2,AMHERST,"Dallas-Fort Worth-Arlington, TX",-0.037361,69,101,0.683168,2732,0.036969
7,PROGRESS_RESIDENTIAL,"Dallas-Fort Worth-Arlington, TX",-0.036658,28,52,0.538462,6104,0.008519
20,AMH,"Austin-Round Rock-Georgetown, TX",-0.036075,20,30,0.666667,604,0.049669
9,AMH,"San Antonio-New Braunfels, TX",-0.033443,21,48,0.437500,964,0.049793
19,FIRSTKEY_HOMES,"Houston-The Woodlands-Sugar Land, TX",-0.028703,18,31,0.580645,3062,0.010124
5,AMHERST,"Atlanta-Sandy Springs-Alpharetta, GA",-0.025004,41,80,0.512500,6754,0.011845
11,AMHERST,"Orlando-Kissimmee-Sanford, FL",-0.022957,27,45,0.600000,1816,0.024780
6,AMH,"Dallas-Fort Worth-Arlington, TX",-0.019323,31,71,0.436620,3724,0.019066
16,INVITATION_HOMES,"Atlanta-Sandy Springs-Alpharetta, GA",-0.016758,7,35,0.200000,11093,0.003155
23,FIRSTKEY_HOMES,"Dallas-Fort Worth-Arlington, TX",-0.016700,13,23,0.565217,2880,0.007986
22,FIRSTKEY_HOMES,"Atlanta-Sandy Springs-Alpharetta, GA",-0.014047,13,26,0.500000,6025,0.004315
4,HOME_PARTNERS_OF_AMERICA,"Atlanta-Sandy Springs-Alpharetta, GA",-0.013215,32,84,0.380952,3512,0.023918
10,HOME_PARTNERS_OF_AMERICA,"Tampa-St. Petersburg-Clearwater, FL",-0.012612,22,47,0.468085,1365,0.034432
3,HOME_PARTNERS_OF_AMERICA,"Dallas-Fort Worth-Arlington, TX",-0.010462,43,89,0.483146,2037,0.043692
17,HOME_PARTNERS_OF_AMERICA,"Minneapolis-St. Paul-Bloomington, MN-WI",-0.010224,11,32,0.343750,1436,0.022284
21,AMH,"Phoenix-Mesa-Chandler, AZ",-0.010222,10,28,0.357143,2956,0.009472
15,HOME_PARTNERS_OF_AMERICA,"Phoenix-Mesa-Chandler, AZ",-0.004487,13,36,0.361111,792,0.045455
18,AMH,"Houston-The Woodlands-Sugar Land, TX",0.011251,13,31,0.419355,2253,0.013759
0,PROGRESS_RESIDENTIAL,"Atlanta-Sandy Springs-Alpharetta, GA",0.028278,65,131,0.496183,11783,0.011118

In [39]:
# filter to normal sales prices
og_purchase_price = cur_events.loc[(cur_events['price']>0) & (cur_events['price'] < 1000000) & (cur_events['event_type']=='SALE')]
# og_purchase_price = og_purchase_price.sort_values(['parcl_property_id', 'event_date'], ascending=True).drop_duplicates(subset='parcl_property_id')
og_purchase_price.sort_values('parcl_property_id')

,parcl_property_id,event_date,event_type,event_name,price,owner_occupied_flag,new_construction_flag,sale_index,investor_flag,entity_owner_name
347028,48700309,2021-09-21,SALE,SOLD,400000.0,0.0,1,5,1.0,INVITATION_HOMES
224361,48705541,2021-03-08,SALE,SOLD,246000.0,0.0,0,6,1.0,INVITATION_HOMES
199337,48706032,2014-01-13,SALE,SOLD,112000.0,0.0,0,1,1.0,INVITATION_HOMES
114437,48714381,2013-12-31,SALE,SOLD,144800.0,0.0,0,4,1.0,INVITATION_HOMES
341123,48714651,2012-07-25,SALE,SOLD,113300.0,0.0,0,7,1.0,INVITATION_HOMES
...,...,...,...,...,...,...,...,...,...,...
8003,456424940,2018-12-07,SALE,SOLD,375000.0,0.0,0,1,1.0,INVITATION_HOMES
222424,456697281,2013-05-29,SALE,SOLD,235001.0,0.0,1,1,1.0,INVITATION_HOMES
114941,458235303,2015-11-10,SALE,SOLD,291000.0,0.0,0,1,1.0,INVITATION_HOMES
32487,458447826,2014-04-18,SALE,SOLD,155000.0,0.0,0,1,1.0,INVITATION_HOMES
439255,459031471,2014-02-26,SALE,SOLD,96000.0,0.0,0,1,1.0,INVITATION_HOMES

In [27]:
on_market = on_market.rename(columns={'price':'list_price', 'event_date': 'list_event_date'})[['parcl_property_id', 'list_price', 'list_event_date']]
out = pd.merge(og_purchase_price[['parcl_property_id', 'price', 'event_date']], on_market, on='parcl_property_id', how='inner')
out.shape

(98, 5)

In [28]:
out.head()

   parcl_property_id     price event_date  list_price list_event_date
0           49746320  214000.0 2024-08-05    240000.0      2024-08-23
1           50474149  177000.0 2015-03-05   4350000.0      2024-08-24
2           53475126  163000.0 2018-03-01    799000.0      2024-09-05
3           54075529  767200.0 2024-06-19    349950.0      2024-08-22
4           54219000  271700.0 2024-06-20    255000.0      2024-07-24

In [32]:
out['delta'] = out['list_price'] - out['price']
out['pct_change_delta'] = (out['list_price'] - out['price']) / out['price']

In [31]:
cur_events.loc[cur_events['parcl_property_id']==54075529]

,parcl_property_id,event_date,event_type,event_name,price,owner_occupied_flag,new_construction_flag,sale_index,investor_flag,entity_owner_name
101654,54075529,2024-08-22,LISTING,PRICE_CHANGE,349950.0,0.0,0,9,1.0,INVITATION_HOMES
101655,54075529,2024-08-02,LISTING,PRICE_CHANGE,354950.0,0.0,0,9,1.0,INVITATION_HOMES
101656,54075529,2024-07-03,LISTING,PRICE_CHANGE,369950.0,0.0,0,9,1.0,INVITATION_HOMES
101657,54075529,2024-06-19,SALE,SOLD,767200.0,0.0,0,9,1.0,INVITATION_HOMES

In [33]:
out

,parcl_property_id,price,event_date,list_price,list_event_date,delta,pct_change_delta
0,49746320,214000.0,2024-08-05,240000.0,2024-08-23,26000.0,0.121495
1,50474149,177000.0,2015-03-05,4350000.0,2024-08-24,4173000.0,23.576271
2,53475126,163000.0,2018-03-01,799000.0,2024-09-05,636000.0,3.901840
3,54075529,767200.0,2024-06-19,349950.0,2024-08-22,-417250.0,-0.543861
4,54219000,271700.0,2024-06-20,255000.0,2024-07-24,-16700.0,-0.061465
...,...,...,...,...,...,...,...
93,183690234,321500.0,2023-09-27,600000.0,2024-07-01,278500.0,0.866252
94,433587894,156500.0,2015-05-20,368900.0,2024-07-22,212400.0,1.357188
95,458235303,291000.0,2015-11-10,169900.0,2024-07-21,-121100.0,-0.416151
96,458447826,155000.0,2014-04-18,399900.0,2024-07-07,244900.0,1.580000
97,459031471,96000.0,2014-02-26,229990.0,2024-07-24,133990.0,1.395729

In [37]:
interesting_ids = out.loc[out['pct_change_delta']<0]
interesting_ids

,parcl_property_id,price,event_date,list_price,list_event_date,delta,pct_change_delta
3,54075529,767200.0,2024-06-19,349950.0,2024-08-22,-417250.0,-0.543861
4,54219000,271700.0,2024-06-20,255000.0,2024-07-24,-16700.0,-0.061465
10,66132778,555000.0,2021-09-15,275000.0,2024-08-08,-280000.0,-0.504505
15,73637391,210200.0,2024-06-20,210000.0,2024-07-24,-200.0,-0.000951
16,73830239,319500.0,2024-06-21,249900.0,2024-08-27,-69600.0,-0.217840
17,74337232,210000.0,2016-01-29,174900.0,2024-07-29,-35100.0,-0.167143
27,87521508,254000.0,2021-04-30,116999.0,2024-08-01,-137001.0,-0.539374
43,113771278,255000.0,2020-10-20,125000.0,2024-07-23,-130000.0,-0.509804
54,126897275,177000.0,2015-06-02,55900.0,2024-08-27,-121100.0,-0.684181
63,137699379,262000.0,2019-09-19,140000.0,2024-08-10,-122000.0,-0.465649
66,144128752,257100.0,2024-06-19,249900.0,2024-08-05,-7200.0,-0.028005
74,162804808,183650.0,2017-08-18,54900.0,2024-07-29,-128750.0,-0.701062
79,168781899,200000.0,2014-07-01,179900.0,2024-08-16,-20100.0,-0.100500
89,178442283,327500.0,2021-09-07,195000.0,2024-07-18,-132500.0,-0.404580
90,179905178,250400.0,2024-07-23,247900.0,2024-08-13,-2500.0,-0.009984
91,180002859,252300.0,2024-06-20,225000.0,2024-07-24,-27300.0,-0.108205
92,180077131,396300.0,2024-06-20,165000.0,2024-07-25,-231300.0,-0.583649
95,458235303,291000.0,2015-11-10,169900.0,2024-07-21,-121100.0,-0.416151

In [36]:
invh_homes.loc[invh_homes['parcl_property_id'].isin(interesting_ids['parcl_property_id'])]

,parcl_property_id,address,unit,city,state_abbreviation,zip5,zip4,latitude,longitude,property_type,...,zip_parcl_id,zip_code,event_count,event_history_sale_flag,event_history_rental_flag,event_history_listing_flag,current_new_construction_flag,current_owner_occupied_flag,current_investor_owned_flag,current_entity_owner_name
1121,54075529,827 E AGUA FRIA LN,None,AVONDALE,AZ,85323,2435,33.431798,-112.339870,SINGLE_FAMILY,...,5570922.0,85323,27,1,1,1,0.0,0,1,INVITATION_HOMES
1794,113771278,209 W COWDEN AVE,None,MIDLAND,TX,79701,3405,32.010013,-102.077066,SINGLE_FAMILY,...,5469324.0,79701,6,1,1,1,0.0,0,1,INVITATION_HOMES
2563,144128752,3155 SEVEN SPRINGS BLVD,None,NEW PORT RICHEY,FL,34655,3341,28.205521,-82.694599,SINGLE_FAMILY,...,5314925.0,34655,26,1,1,1,0.0,0,1,INVITATION_HOMES
9288,458235303,888 W CLARK ST,None,MANSFIELD,MO,65704,None,37.109955,-92.595075,SINGLE_FAMILY,...,5595402.0,65704,4,1,0,1,1.0,0,1,INVITATION_HOMES
18002,180002859,3312 BINYON AVE,None,FORT WORTH,TX,76133,1555,32.679199,-97.364324,SINGLE_FAMILY,...,5469028.0,76133,24,1,1,1,0.0,0,1,INVITATION_HOMES
19591,178442283,1308 BELLAIRE ST,None,AMARILLO,TX,79106,5719,35.201145,-101.889371,SINGLE_FAMILY,...,5268899.0,79106,18,1,1,1,0.0,0,1,INVITATION_HOMES
20367,74337232,386 ROBINSON ST,None,NORTH TONAWANDA,NY,14120,7021,43.034880,-78.866127,SINGLE_FAMILY,...,5452949.0,14120,2,1,0,1,0.0,0,1,INVITATION_HOMES
35584,87521508,706 3RD AVE,None,TROY,NY,12182,2325,42.779514,-73.673360,SINGLE_FAMILY,...,5453029.0,12182,28,1,1,1,0.0,0,1,INVITATION_HOMES
50750,179905178,1050 YALE DR,None,HOLIDAY,FL,34691,5174,28.174516,-82.756082,SINGLE_FAMILY,...,5403201.0,34691,19,1,1,1,0.0,0,1,INVITATION_HOMES
52474,73637391,1708 COLVIN ST,None,FORT WORTH,TX,76104,7119,32.713590,-97.302038,SINGLE_FAMILY,...,5364730.0,76104,59,1,1,1,0.0,0,1,INVITATION_HOMES
55441,73830239,1135 FAIRMONT ST,None,CLEARWATER,FL,33755,2623,27.982528,-82.790112,SINGLE_FAMILY,...,5402978.0,33755,53,1,1,1,0.0,0,1,INVITATION_HOMES
59280,180077131,9214 MIRAWOOD ST,None,HOUSTON,TX,77078,3417,29.845479,-95.251481,SINGLE_FAMILY,...,5469261.0,77078,38,1,1,1,0.0,0,1,INVITATION_HOMES
63071,54219000,1533 WHEATFIELD CT,None,MESQUITE,TX,75149,6850,32.779382,-96.574963,SINGLE_FAMILY,...,5268695.0,75149,43,1,1,1,0.0,0,1,INVITATION_HOMES
66111,66132778,4 TERRACE AVE,None,WEST WARWICK,RI,02893,4222,41.726802,-71.534000,SINGLE_FAMILY,...,5277293.0,02893,5,1,0,1,0.0,0,1,INVITATION_HOMES
66209,137699379,8500 KATHERINE AVE,None,SAINT LOUIS,MO,63121,4316,38.712264,-90.317961,SINGLE_FAMILY,...,5596054.0,63121,8,1,0,1,0.0,0,1,INVITATION_HOMES
67253,162804808,6406 CASTLE COURT WAY,None,LITHONIA,GA,30058,3138,33.745297,-84.126395,SINGLE_FAMILY,...,5402725.0,30058,8,1,0,1,0.0,0,1,INVITATION_HOMES
68728,126897275,1832 PRINCETON AVE N,None,BIRMINGHAM,AL,35217,3534,33.575454,-86.759921,SINGLE_FAMILY,...,5403218.0,35217,10,1,1,1,0.0,0,1,INVITATION_HOMES
73172,168781899,34 MARE RD,None,BRISTOL,CT,06010,2733,41.711471,-72.925420,SINGLE_FAMILY,...,5310804.0,06010,2,1,0,1,0.0,0,1,INVITATION_HOMES